@media only screen and (min-width: 850px) {

    html,
    body {
        margin-left: 5%;
        margin-right: 5%;

    }


    .section-1 {
        border-radius: 0rem 0rem 0rem 0rem !important;
    }



    .burger {
        display: none;
    }

    .nav-list {
        position: static;
        background-color: var(--primary-color1);
        width: 40%;
        height: 0%;
        /* left:0;
            top:0; */
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: space-between;
        font-size: 17px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transform: translateX(30%);
        list-style: none;
        /* overflow-x :hidden; */

    }

    .navigation .logo {
        margin-left: 2rem;
    }

    .go-back {
        display: none;
    }

    /* section-2 */


    /* section-2 */
    .section-2 {

        display: flex;
        justify-content: center;
        
    }

    .small-head {

        font-size: 20px !important;
    }

    .section-2 h2 {
        font-size: 50px;
    }

    .section-2 .developer {
        font-size: 70px;
    }

    .div-2 {
        /* background-color: yellow; */
        padding: 0px 150px 0px 150px;
        display: flex;
        justify-content: space-between;

    }

    .div-2 .image-quote {
        /* margin-left: 100px; */
        width: 40rem;

    }

    .div-2 .punchline {
        z-index: 1;
    }

    /* section 3 starts from here */
    .section-3 {
        /* background-color: red; */
        width: 80vh;
        margin: auto;

    }



    .section-4 {

        width: 80vh;
        margin: auto;

    }

    .cards {
        display: grid;
        grid-template-columns: auto auto;
        width: 80vh;
        margin: auto;
    }
    .grid-item{
        margin-top: 70px;
    }

    .quote-form{
        /* background-color: red; */
        width: 80vh;
        margin: auto;
    
    }
    .quote-form input{
        /* width:40vh; */
        width: 70%;
        margin:auto;
        margin-bottom: 20px;

    }

    .quote-form textarea{
    
        width: 70%;
        margin:auto;
        margin-bottom: 20px;
    }

    .quote-form button{
        width: 10%;
        margin:auto;
        
    }


    .socials{
/* background-color: red; */
width: 70%;
margin: auto;
padding: 50px 0px 50px 0px;
}

.image-quote button {
    position: absolute;
    top: 60%;
    left: 15% !important;
    border: none;
    padding: 0.8rem 3rem;
    border-radius: 10px;
    font-family: taviraj, serif;
    font-size: 1rem;
    color:white;
    background-color:var(--primary-color3);
}



}