/* 400px */
@import url('https://fonts.googleapis.com/css2?family=Taviraj&display=swap');
/* 300px */
/* @import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400&display=swap'); */

:root{
    --primary-color1:#10B981; 
    --primary-color2: #34D399;
    --primary-color3: #6EE7B7;
    --primary-color4:#A7F3D0;
    --primary-color5: #D1FAE5;
    --primary-color6: #ECFDF5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Taviraj, sans-serif;
}


li{
    list-style: none;
}

.cta-button1{
    padding:0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1rem;
    margin:1rem;
    border-radius: 0.5rem;
}

.cta-button2{
    padding:0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}


/* burger button click */


.nav-list{
    /* display:none; */
    position:absolute;
    background-color: white;
    width:100%;
    height:100vh;
    left:0;
    top:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    font-size: 2rem;
    padding-top:12rem;
    padding-bottom: 12rem;
    transform: translateX(100%);
    list-style: none;
    /* overflow-y :hidden; */
    /* min-height: 100vh; */
}



.section-heading{
    margin-bottom: 3rem;
}

.section-1{
margin-bottom: 2rem;
}

.punchline {
    position: absolute;
    text-align: left;
    margin-left: 1rem;

}

.punchline .small-head {
    /* font-size: 1rem; */
    font-size: 2vh;
}

.punchline h1 {
    /* font-size: 3rem; */
    /* z-index: 10000;
     */
    font-size: 6vh;
    line-height: 2rem;
}
.punchline h2 {
    font-size: 4vh;
}


.punchline h4 {
    margin-bottom: -0.5rem;
}

.punchline hr {
    color: black;
    background-color: black;
}

/* Testing start from here */
.section-1 {
    background-color: var(--primary-color1);

}

.section-padding {
    margin-bottom: 8rem;
    text-align: center;
}

/* Testing ends from here */





.image-quote {
    position: relative;
    /* background-color: red; */
}

.image-quote .link {
    position: absolute;
    margin-top: 9rem;
    left:10vw;


}




/* section 1 start from here */

.portfolio-image {
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
    /* background-color: red; */
    margin-right: 1rem;

}

.image-quote {
    /* background-color: green; */
    text-align: right;
    padding-top: 7rem;


}

.image-quote button {
    position: absolute;
    top: 50%;
    left: 10%;
    border: none;
    padding: 0.6rem 2rem;
    border-radius: 10px;
    font-family: taviraj, serif;
    font-size: 1rem;
    color:white;
    background-color:var(--primary-color1);
}

h1 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}


/* .nav-list {
    display: flex;
    display: none;
} */

.navigation {
    display: flex;
    align-items: right;
    background-color: var(--primary-color1);
    justify-content: space-between;
    padding: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
}

svg {

    cursor: pointer;
    z-index: 10;
}




.tools-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1rem;
    /* background-color: red; */
    border: 1px solid black;
    border-radius: 1rem;
}

.tools-list ul img {
    margin: 0.5rem;


}

.tools-img {
    width: 4rem;
    height: 4rem;
}


/* skills Section  */
.skills-list ul {
    display: flex;
    margin: 1rem;
    justify-content: left;
}

.skills-list ul p {
    margin: 1rem;
    font-size: 1.5rem;
}

.skills-img {
    width: 4rem;
    height: 4rem;

}

.cards img {
    width: 90%;
    height: 100%;
    border-radius: 1rem;

}

.cards div {
    text-align: center;
}

.cards p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* main-footer with link columns */

.section__footer {
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: var(--primary-color4);
}


.footer {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.footer .footer-head {
    font-size: 1.5rem;
    line-height: 5rem;
}



.small__footer {
    padding: 1rem;
    background-color: var(--primary-color1);
}

.small-footer-socials {
    display: flex;
    /* background-color: orange; */
    justify-content: center;

}

.footer-img {
    width: 2rem;
    height: 2rem;
    margin: 0 1.5rem 0 1.5rem;
}

/* extra animation */
.shadow{
    /* Reddish shadow with 1rem blur */
    box-shadow: 0.2rem 0.2rem 0.3rem var(--primary-color4);
}

@media only screen and (min-width: 700px) {

    html,body {
        margin-left: 10%;
        margin-right: 10%;
    }
}